.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #282c34;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: auto;
  padding: 20px 0;
}

.search-bar-container{
  width: 100%;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  text-align: left;
}

.app-title {
  color: white; /* Título gris */
  font-size: 100px;
  font-weight: bold;
}

.app-title-container{
  width: 100%;
  height: 250;
  text-align: center;
  border: 1px solid red;
}

.app-subtitle {
  color: white; /* Título gris */
  font-size: 30px;
  font-weight: bold;
}

.app-subtitle-container{
  width: 100%;
  height: 250;
  text-align: center;
  border: 1px solid red;
}