.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #282c34;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: auto;
  padding: 20px 0;
}

.button-pagination {
  background: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.button-pagination:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.button-pagination:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.button-pagination:disabled {
  background: #555;
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}

.span-pagination {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 0 10px;
}


.search-bar-container{
  width: 100%;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
  text-align: left;
}

.app-title {
  color: white; /* Título gris */
  font-size: 100px;
  font-weight: bold;
}

.app-title-container{
  width: 100%;
  height: 250;
  text-align: center;
}

.app-subtitle {
  color: white; /* Título gris */
  font-size: 30px;
  font-weight: bold;
}

.app-subtitle-container{
  width: 100%;
  height: 250;
  text-align: center;
}

.results-count {
  text-align: center;
  font-size: 18px;
  color: #555;
}
